.justTitle {
    font-size: 2.25rem;
}

.justText {
    font-size: 1rem;
}

.aboutBottom {
    padding-top: 1rem;
    font-size: 2rem;
}

@media screen and (max-width: 2530px) {
    .aboutBottom {
        font-size: 1.2rem;
        /* padding-top: 2rem; */
    }
}

.link {
    /* position: relative; */
    right: 10rem;
    text-align: center;
    justify-content: space-between;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1rem;
    border: 1rem solid rgba(0, 0, 0, 0.8);
    font-size: 40px;

    padding-top: 0rem;
    border-top-width: 0px;
} 

@media screen and (max-width: 2530px) {
    .link {
        font-size: 1rem;
        padding: 0;
    }
}

/* CORE */
.record {
    position: absolute;
    left: 45rem;
    top: 20rem;
    padding-right: 0rem;
    padding: 2rem;

    border-top: 5px solid;
    border: 2px solid white;

    color: white;
}

@media screen and (max-width: 2530px) {
    .record {
        left: 27rem;
        top: 8rem;
        padding: 1rem;
        width: 400px;
        height: 350px;
    }
    .justText{
        font-size: 14px;
    } 
    
    .justTitle{
        font-size: 20px;
    }
}

/* Project.tsx - do not confuse with about.tsx */
.recordProject {
    position: absolute;
    left: 40rem;
    
    top: 15rem;
    padding-right: 0rem;
    padding: 1rem;

    width: 400px;
    height: 600px;
    font-size: 2rem;

    border-top: 5px solid;
    border: 2px solid white;

    color: white;
}

@media screen and (max-width: 2530px) {
    .recordProject {
        left: 24rem;
        top: 8rem;
        padding: 1rem;
        width: 240px;
        height: 320px;
    }
    .justTextProject{
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        
    } 
    
    .justTitleProject{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

/* .recordBottom {
    bottom: 0rem;
    left: 35rem;

} */

/* Wrapping position - project, right side, repository, anchor */
.recordRight {
    position: absolute;
    left: 65rem;
    top: 25rem;
    padding-right: 30rem;
    padding: 0;
    margin: 0;
    /* font-size: 2.25rem; */

    
}

/* featured repositories - anchor position */
.repository {
    position: absolute;
    top: 4rem;
    left: -7rem;
    /* padding-right: 30rem; */
    justify-content: center;
    box-sizing: border-box;
    text-align: left;
}

/* project - repository's box style */
.anchor {
    width: 400px;
    height: 350px;
    font-size: 18px;
    border: 1rem;


    background-color: black;
    border:#FFFEA5;
    /* padding: 150px; */
    /* padding-left: 215px; */
    /* padding-right: 215px; */
    /* padding-top: 0px; */
    /* padding-bottom: 400px; */

    border: 5px solid #FFFEA5;
    /* margin: 60px; */

    margin-left: 20rem;
    /* position: absolute; */

    border-top: 1rem solid;
    border: 10px solid pink;
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 10px,
        #FFFEA5 10px,
        #FFFEA5 20px
      ) 10;
    /* border-style: inset;
    padding: 1rem;
    margin: 5px; */
}

@media screen and (max-width: 2530px) {
    .anchor {
        width: 240px;
        height: 280px;
        font-size: 14px;
        border: 1rem;

        margin-left: 10rem;

        border: 10px solid pink;
        border-image: repeating-linear-gradient(
            -55deg,
            #000,
            #000 10px,
            #FFFEA5 10px,
            #FFFEA5 20px
          ) 10;
    }
    .repository {
        top: -13rem;
        left: -32rem;
    }
}

.spaceAnchor {
    margin: 1rem;
    box-shadow: 0px 2px 0px gray;
}

.grayColour {
    color: gray;
}
/* .spaceUnderline {
    margin: 0.5rem;
} */

/* just title and text, for font-size purpose */
/* this is left side, project */


/* Four Links - bottom side */
/* 
First - works as wrapper */
/* .recordBottom {
    top: 38rem;
    left: 24rem;
    display: relative;
} */

/* section - a group representer of four links */
.externalLink {
    /* display: absolute; */
    display: grid;
    justify-content: center;
    align-content: center;

    gap: 4px;
    grid-auto-flow: column;
/*
    position: relative;
    left: 20rem;
    padding-right: 30rem; */
}



.featured {
    font-size: 1.5rem;
    color: #FFFEA5;
}

/* About.tsx (some of them may still exist above line */
