ul, li {
    list-style-type: none;
}

a:link { 
    text-decoration: none; 
}


/* To move location of navbar, see nav below. This is secondary in hierarchy */
.Navbar__menu {
    color: rgb(255, 255, 255);
    display: block;



}


/* Final place - modify navbar location (do not change others except this nav tag) */
nav {
    /* padding: 100px; */
    left: 101.5rem;
    position: relative;
    float: right;
    font-size: 2rem;
    bottom: 65rem;
    width: 270px;

    letter-spacing: 10px;
    line-height: 10rem;

    border-top: 5px solid;
    border: 10px solid pink;
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 10px,
        #FFFEA5 10px,
        #FFFEA5 20px
      ) 10;
    /* core */
    /* display: grid;
    column-gap: 50rem;
    grid-template-columns: auto auto auto;

    letter-spacing: 10px;
    line-height: 3rem; */

}

/* maintext.tsx, left side of main.tsx */
.text {
    /* this position absolute allows draggable text. DO NOT CHANGE! */
    position: absolute;
    left: 12rem;
    top: 15rem;
    /* padding-right: 0rem; */

    padding: 2rem;
    border-top: 5px solid;
    border: 2px solid white;
}

/* Welcome.tsx button */
.btn {
    border: 2px solid black;
    background-color: black;
    color: black;
    padding: 0px 20px;
    font-size: 10px;
    cursor: pointer;
    border-inline-color: #FFFEA5;
}

.alert {
    border-color: #f44336;
    color: #FFFEA5;
    font-size: 3rem;
}

.alert:hover {
    background: #f44336;
    color: white;
}

.navLink {
    color: #FFFEA5;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0px 20px;
    cursor: pointer;

    border-color: #f44336;
    color: #FFFEA5;

    border-inline-color: red;
    writing-mode: horizontal-tb;
}

.navLink:hover {
    background: #f44336;
    color: white;
}

/* Do not call nav or it applies to entire hierarchy after navbar variant. */
/* .navbar {
    padding: 20px;
} */

/* 
.Navbar__menu-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding-left: 0px;
} */