.article {
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* // issue area */

/* .picture is main.tsx background image */
.picture {
    background-image: url("../image/mainpanel.jpg");
    background-size: cover;
    /* width: 100%;
    vertical-align: middle;
	transform: translate( 0%, 0% ); */
}

img {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
}

/* .container is about.tsx, project.tsx's background image as wrapper. */
.container {
    background-image: url("../image/story.jpg");
    /* width: 1366px;
    height: 788px; */
    /* for mobile, use @media query */
    background-size: cover;
    display: grid;
}


/* media query - responsive, screen size - mainly main.tsx */
@media screen and (min-width: 2000px) {
    .picture {
        width: 1920px;
        height: 1080px;
        background-size: cover;
    }

    .container {
        width: 1920px;
        height: 1080px;
        background-size: cover;
    }
}

@media screen and (max-width: 3000px) {
    .picture {
        width: 1920px;
        height: 1080px;
        background-size: cover;
    }

    .container {
        width: 1920px;
        height: 1080px;
        background-size: cover;
    }
}
/* end of issue area */

/* Temp note: Navbar is linked to .header */

/* do not delete position: absolute; or text won't appear. */
/* IMPORTANT : ASSUME .header works as wrapper container in Main.tsx */
.header {
    /* See Navbar.module.css for draggable text issue */
    /* position: absolute; */
    top: 0rem;
    right: 0rem;
    left: 0rem;
    bottom: 0rem;

    /* gap between text and navbar, main.tsx */
    display: grid;
    column-gap: 50rem;
    grid-template-columns: auto auto auto;

    letter-spacing: 10px;
    line-height: 3rem;
}
