.article {
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* // issue area */
.picture {
    object-fit: cover;
    width: 1366px;
    height: 768px;
    background-image: url("../image/mainPanel.jpg");

    background-size: cover;
}

.container {
    background-image: url("../image/story.jpg");
    width: 1366px;
    height: 788px;
    /* for mobile, use @media query */
    background-size: cover;
}



/* end of issue area */

/* .MainPanel {
    background: url("../image/mainPanel.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
} */

/* Temp note: Navbar is linked to .header */
.header {
    /* font-size: 80px;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto; */
    position: absolute;
    top: -3rem;
    right: 0.5rem;
    margin: auto;
    text-indent: 1rem; 
    letter-spacing: 2px;
    line-height: 10rem;
    font-size: 2.2rem;
}



/* .Nav__link  {
    color: white;
    list-style-type: none;
} */


/* ////////////////////////////// */

/* .navbar {
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbarList {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbarListItem {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbarListItemLink {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */