.article {
    position: absolute;
    overflow: hidden;

    /* left: 25%; */
    /* margin-left: auto;
    margin-right: auto; */

    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 1px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    /* grid-template-columns: 1fr max-content min(63ch, 50%) 1fr; */
}

  .main {
    position: relative;
    font-size: larger;


    margin-left: auto;
    margin-right: auto;
    /* display: block;
    margin: 0 auto;
    width: 100%;
     */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}
/* // issue area */

/* .picture is main.tsx background image */
/* .picture {
    
    
    background-size: cover;
} */

img {
    background-image: url("../image/mainpanel.jpg");
    background-size: cover;
    font-size: 0px;

    /* display: grid; */
    /* column-gap: 50px; */
    /* grid-template-columns: auto auto auto; */
}

/* .container is about.tsx, project.tsx's background image as wrapper. */
.container {
    background-image: url("../image/story.jpg");
    /* width: 1366px;
    height: 788px; */
    /* for mobile, use @media query */
    background-size: cover;
    display: grid;
    font-size: 0px;
    margin-left: 18rem;
}

/* .logo {
    background-image: url("../image/logo.jpg");
    background-size: cover;
} */

/* media query - responsive, screen size - mainly main.tsx */
/* If width is below min-width, then apply these conditions. */
@media screen and (min-width: 1920px) {
    .picture {
        width: 1920px;
        height: 1080px;
        background-size: cover;
    }

    .container {
        width: 1920px;
        height: 1080px;
        background-size: cover;
    }
}

/* If width is over max-width, then apply these conditions */
@media screen and (max-width: 2220px) {
    .picture {
        width: 1366px;
        height: 768px;
        background-size: cover;
    }

    .container {
        width: 1366px;
        height: 768px;
        background-size: cover;
    }
}
/* end of issue area */

/* Temp note: Navbar is linked to .header */

/* do not delete position: absolute; or text won't appear. */
/* IMPORTANT : ASSUME .header works as wrapper container in Main.tsx */
/* .header { */
    /* See Navbar.module.css for draggable text issue */
    /* position: absolute; */
    /* top: 0rem;
    right: 0rem;
    left: 0rem;
    bottom: 0rem; */

    /* gap between text and navbar, main.tsx */

    /* JUST RECOVER THIS display:grid to restore navbar */

    /* display: grid; */

    /* column-gap: 50rem; */
    /* grid-template-columns: auto auto auto; */

    /* letter-spacing: 10px;
    line-height: 3rem;
} */

.AppHeader {
    background-color: #000000;
    /* min-height: 100vh; */
    display: block;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Roboto Flex', sans-serif;


  }

